<form>
	<input-debounce delay="500" placeholder="Search..." (value)="searchChangedCourse($event)"></input-debounce>
</form>
<div *ngIf="seletedCourse" class="list-group col-sm-12">
	<a (click)="onSelectInstruc(fb)" *ngFor="let fb of fbObservCourse" class="list-group-item list-group-item-action list-group-item-error">
              {{fb.name}}
          </a>
</div>

<div class="list-group col-sm-12">
	<a *ngFor="let lis of listCourse " class="list-group-item list-group-item-action list-group-item-success" (click)="onSelectCourse(lis)">
             {{lis.title}} | {{lis.course}}
          </a>
</div>